<template>
  <v-app-bar app color="primary">
    <v-toolbar-title>Ask Us</v-toolbar-title>
    <v-toolbar-title></v-toolbar-title>
    <v-spacer></v-spacer>

    <v-btn v-if="!loggedIn" to="/login">Login</v-btn>
    <v-btn v-if="loggedIn" @click="logout">Logout</v-btn>
   
  </v-app-bar>
</template>
<script>
import { authComputed } from '../store/helpers'
export default {
  middleware: 'auth',
  computed: {
    ...authComputed,
  },
  methods: {
    logout() {
      console.log('logout')
      this.$store.dispatch('logout')
    },
  },
}
</script>
