<template>
  <div>
    <Navbar />
    <Nuxt />
     <Footer />
  </div>
</template>

<script>
import Navbar from '../components/navbar'
import Footer from '../components/footer'
import axios from "axios"
export default {
  components: {
    Navbar,
    Footer
  },
  created(){
    if (process.browser) {
    const userString = localStorage.getItem('user')
    if(userString){
      const userData = JSON.parse(userString)
      this.$store.commit('SET_USER_DATA', userData)
    }
    axios.interceptors.response.use(
      response => response,
      error => {
        if (error.response.status === 400){
          this.$store.dispatch('logout')
        }
        return Promise.reject(error)
      }
    )
    }
  }
}
</script>