<template>
  <v-app>
    <v-main>
      <h1>Home</h1>
    </v-main>

  </v-app>
</template>

<script>
import { authComputed } from '../store/helpers'
export default {
  computed: {
    ...authComputed
  },
  created(){
    if (process.browser) {
    const userString = localStorage.getItem('user')
    if(userString){
      const userData = JSON.parse(userString)
      this.$store.commit('SET_USER_DATA', userData)
    }
    }
  }
}
</script>

