<template>
  <v-main>
    <v-app>
      <v-card width="400" class="mx-auto mt-5">
        <v-card-title>
          <h1 class="display-1">Login</h1>
        </v-card-title>
        <v-card-text>
          <v-form ref="form" @submit.prevent="login">
            <v-text-field
              label="Username"
              prepend-icon="mdi-account-circle"
              v-model="username"
            />
            <v-text-field
              label="Password"
              :type="showPassword ? 'text' : 'password'"
              prepend-icon="mdi-lock"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword = !showPassword"
              v-model="password"
            />
            <v-card-actions>
          <v-btn class="mr-3" color="info" @click="login">Login</v-btn>

          <v-btn
            class="mr-3"
            depressed
            elevation="2"
            outlined
            raised
            to="/register"
            >Register?</v-btn
          >
        </v-card-actions>
          </v-form>
        </v-card-text>
         <div>
       <v-text>{{error}}</v-text>
      </div>
        
      </v-card>
     
    </v-app>
  </v-main>
</template>

<script>
export default {
  layout: 'blank',
  data: () => ({
    username: '',
    password: '',
    showPassword: false,
    error: null,
  }),
  methods: {
    login() {
      this.$store
        .dispatch('login', {
          username: this.username,
          password: this.password,
        })
        .then(() => {
          this.$router.push('/')
        })
        .catch((err) => {
          this.error = err.response.data.error
          console.log(this.error)
        })
    },
  },
}
</script>
