<template>
  <v-main>
    <v-app>
      <v-card width="400" class="mx-auto mt-5">
        <v-card-title>
          <h1 class="display-1">Sign-Up</h1>
        </v-card-title>
        <v-card-text>
          <v-form ref="form" @submit.prevent="register">
            <v-text-field
              v-model="username"

              
              label="Username"
            
              prepend-icon="mdi-account-circle"
            ></v-text-field>

            <v-text-field
              v-model="email"
              prepend-icon="mdi-email"
              :error-messages="emailErrors"
              label="E-mail"
              required
              @input="$v.email.$touch()"
              @blur="$v.email.$touch()"
            ></v-text-field>
            <v-text-field
              v-model="password"
              label="Password"
              :type="showPassword ? 'text' : 'password'"
              prepend-icon="mdi-lock"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword = !showPassword"
            />
            <v-text-field
              v-model="confirm_password"
              label="Confirm-Password"
              :type="showPassword ? 'text' : 'password'"
              prepend-icon="mdi-lock"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword = !showPassword"
            />

            <v-btn class="mr-3" type="submit" name="button" color="info" >Register</v-btn>
          </v-form>
        </v-card-text>

        <v-card-actions>
          
        </v-card-actions>
      </v-card>
    </v-app>
  </v-main>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, email } from 'vuelidate/lib/validators'
export default {
  mixins: [validationMixin],

  validations: {
    name: { required, maxLength: maxLength(10) },
    email: { required, email },
  },

  data: () => ({
    username: '',
    email: '',
    password: '',
    confirm_password: '',

    showPassword: false,
  }),
  computed: {
    nameErrors() {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.maxLength &&
        errors.push('Name must be at most 10 characters long')
      !this.$v.name.required && errors.push('Name is required.')
      return errors
    },
    emailErrors() {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Must be valid e-mail')
      !this.$v.email.required && errors.push('E-mail is required')
      return errors
    },
  },
  methods: {
    register() {
    //   this.$v.$touch()
      this.$store.dispatch('register', {
          username: this.username,
          email: this.email,
          password: this.password,
          confirm_password: this.confirm_password
      }).then(() => {
        this.$router.push('/')
      })
    },
    clear() {
      this.$v.$reset() 
      this.username = ''
      this.email = ''
      this.password = ''
      this.confirm_password = ''
    },
  },
}
</script>
